.table-container{
    max-height: 600px;
    overflow-y: auto;
}

.stickly-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.date{
    z-index: 99999999 !important;
}